.tour-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: none;
    text-decoration: none;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.tour-button .image-container img {
    transition: transform 0.3s ease;
    /* Transition for transform property */
}

.tour-button:hover .image-container img {
    transform: scale(1.1);
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 1;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: white;
    margin-bottom: 5px;
}

.date {
    font-size: 0.8rem;
    font-family: 'Arial', sans-serif;
    color: #808080;
}