/* NavBar.css */

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    /* Add relative positioning */
    z-index: 10;
    /* Ensure header is above the nav-list */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none;
    /* Hide by default */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s ease;
    /* Add transition for color */
}

.nav-list a:hover {
    background-color: #555;
    border-radius: 5px;
    color: #ff6347;
    /* Change text color on hover */
}

@keyframes hoverAnimation {
    0% {
        background-color: transparent;
        color: white;
    }
    100% {
        background-color: #555;
        color: #ff6347;
    }
}



/* Mobile-friendly styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        /* Show hamburger menu */
        cursor: pointer;
    }

    .nav-list {
        display: none;
        /* Hide nav links on small screens */
        flex-direction: column;
        position: absolute;
        top: 100%;
        /* Position below the header */
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-list.active {
        display: flex;
        /* Show nav links when active */
    }

    .nav-list li {
        margin-right: 0;
        text-align: center;
    }

    .logo {
        height: 30px;
    }
}