.ToursMain {
    padding: 4rem 1rem;
    background-color: #f4f4f4;
    text-align: center;
}

.ToursMain h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-bottom: 2px solid #ff6347;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tour-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: none;
    text-decoration: none;
    width: calc(33.33% - 20px);
    /* Adjust the width as per your design */
    margin: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .tour-button {
        width: 100%;
    }
}